<!-- Header -->
<header id="header" class="alt">
	<div class="inner">
		<h1>Sizil Krishna</h1>
		<p>Simple yet Elegant</p>
	</div>
</header>

<!-- Wrapper -->
<div id="wrapper">

	<!-- Banner -->
	<section id="intro" class="main">
		<span class="icon fa-diamond major"></span>
		<h2>Welcome!</h2>
		<p>My name is Sizil Krishna and I am a hobbyist web developer.</p>
<!-- 		<ul class="actions">
			<li><a href="#" class="button big">Learn More</a></li>
		</ul>
-->
	</section>

	<section id="cta" class="main special">
		<span class="icon fas fa-tasks major"></span>
		<h2>Projects</h2>
		<p>Following are few projects that i've been working on recently.</p>
	</section>

	<!-- Items -->
	<section class="main items">
		<article class="item">
			<header>
				<a><img src="assets/images/pic01.jpg" alt="" /></a>
				<h3>Wordpress Blog</h3>
			</header>
			<p>This is my personal web-blogging space.</p>
			<ul class="actions">
				<li><a href="http://sizilkrishna.000webhostapp.com" target="_blank" class="button">Visit</a></li>
			</ul>
		</article>
		<article class="item">
			<header>
				<a href="#"><img src="assets/images/pic02.jpg" alt="" /></a>
				<h3>Mercurial Gallery of Art</h3>
			</header>
			<p>A simple Web Gallery i have written using <a href="https://angular.io/" target="_blank">Angular</a> framework. 
				Credits to <a href="https://www.wga.hu" target="_blank">Web Gallery of Art</a> for inspiration and Images.</p>
			<ul class="actions">
				<li><a href="https://mgoart.web.app" target="_blank" class="button">Visit</a></li>
			</ul>
		</article>
		<article class="item">
			<header>
				<a href="#"><img src="assets/images/pic03.jpg" alt="" /></a>
				<h3>SLIM Rest API</h3>
			</header>
			<p>REST API using one of the lightweight framework. This API is being consumed by the above mentioned Art Gallery.</p>
			<ul class="actions">
				<li><a href="https://sizilkrishna.000webhostapp.com/api/public/api/info/author" target="_blank" class="button">Sample Route</a></li>
			</ul>
		</article>
		<article class="item">
			<header>
				<a href="#"><img src="assets/images/pic04.jpg" alt="" /></a>
				<h3>Parallel Programming with CUDA</h3>
			</header>
			<p>This project was parallel computation of code using CUDA framework for simulations.</p>
			<ul class="actions">
				<li><a  class="button disabled">Deprecated</a></li>
			</ul>
		</article>
	</section>

	<!-- CTA -->
<!-- 
		<section id="cta" class="main special">
		<h2>Etiam veroeros lorem</h2>
		<p>Phasellus ac augue ac magna auctor tempus proin<br />
			accumsan lacus a nibh commodo in pellentesque dui<br />
			in hac habitasse platea dictumst.</p>
		<ul class="actions">
			<li><a href="#" class="button big">Get Started</a></li>
		</ul>
	</section>
 -->
	<!-- Main -->
<!-- 
	<section id="main" class="main">
		<header>
			<h2>Lorem ipsum dolor</h2>
		</header>
		<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat
			est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.
			Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem.
			Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum
			metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et
			malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis
			aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium
			sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi
			tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	</section>
 -->

	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="https://twitter.com/SizilKrishna" target="_blank" class="icon fa-twitter"><span
						class="label">Twitter</span></a></li>
<!-- 						
			<li><a href="#" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>

 -->			<li><a href="mailto:sizil.krishna23@hotmail.com" class="icon fa-envelope"><span
						class="label">Email</span></a></li>
			<li><a href="https://github.com/mercurial-providence" target="_blank" class="icon fa-github"><span
						class="label">Github</span></a></li>
		</ul>
		<p class="copyright">&copy; Mercurial</p>
	</footer>

</div>